name: Generate go.sum
on: [push]
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - run: go mod tidy  # Эта команда создаст go.sum
      - uses: actions/upload-artifact@v4
        with:
          name: go-sum-file
          path: go.sum
